<div class="openmenu">
    <img src="../{{menu.mImagepath}}" class="img-alignment"><br>
    <input type="text" class="inputBoxRead" value="{{menu.mName}}" readonly><br><br>
    <label>Price:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input100" readonly>{{menu.mPrice}}</textarea></div><br>
    <label>Description:</label><br><br>
    <div class="wrap-input100">
    <textarea class="input101" readonly>{{menu.mDescription}}</textarea></div>
</div>