<div class="container-contact100">
    <div class="wrap-contact100">
        <form action="/uploadMenu" method="post" id="myForm" enctype="multipart/form-data">
            <span class="contact100-form-title">
                Upload your menu image
            </span>

            <div class="wrap-input100">
                <input class="input100" id="name" type="text" name="name" placeholder="Name" required>
            </div>
            <label>Upload the prepared image for your menu</label>
            <div class="wrap-input100">
                <input type="file" id="file" name="file" class="upload-btn" >
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn">
                        UPLOAD
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>